body {
    background: url("img.jpeg") center center no-repeat fixed;
    background-size: cover;
    font-family: "Times New Roman";
}
.wrapper {
    max-height: auto;
    width: 900px;
    max-width: 900px;
    margin: 10px auto;
}
.header {
    height: 100px;
    width: 900px;
    background-color: #88bbe1;
    background-image: url("logo.png");
}
.menu {
    height: 20px;
    width: 900px;
    background-color: #88bbe1;
    background-image: url("menu.png");
    background-repeat: no-repeat;
}
.menu ul li {
    display: inline;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    font-size: 20px;
}
ul {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
    font: bold 12px/18px Georgia, serif;
    padding: 1px 20px;
    cursor: pointer;
}
li a:hover {
    background-color: #4bf50c;
    color: #fff;
}
li a {
    text-decoration: none;
}
.content {
    height: auto;
    width: 900px;
    background-color: #88bbe1;
}
.leftnav {
    float: left;
    height: auto;
    width: 300px;
    background-color: #88bbe1;
    border-right: 1px solid #45ff00;
    font-size: 20px;
    padding: 5px;
}
.rightnav {
    height: auto;
    width: 600px;
    margin-left: 300px;
    background-color: #88bbe1;
    font-size: 20px;
}
.rightnav dd {
    font-size: 20px;
}
.misionVision {
    color: #3406ef;
}

.image1{
    background-color: #88bbe1;
    height: 152px;
    width: 295px;
    border:3px solid #0c20f9;
}
.image2{
    background-color: #88bbe1;
    height: 152px;
    width: 295px;
    border:3px solid #0c20f9;
}
.image3{
    background-color: #88bbe1;
    height: 152px;
    width: 295px;
    border:3px solid #0c20f9;
}

.imagebox{
    margin: 3px auto;
    background-color: #88bbe1;
}

.contact{
    height: auto;
    width: 591px; 
    padding-left:5px;
    border:2px solid orange;
}


#marqueecontainer{
  position: relative; 
  width: 589px; 
  height: 50px; 
  background-color: #73f30b;
  overflow: hidden;
  border: 3px solid orange;
  padding-left: 4px; 

}

#vmarquee{
    position: absolute;
    width: 591px;
}



label{
	color:#0b0a0a;
}

.facebook{
    height: auto;
    width: 498px;
    background-color: #88bbe1;
    border: 1px solid orange;
}

.footer {
    height: 50px;
    width: 900px;
    background-color: #0e38f2;
    font-size: 18px;
    text-align: center;
    border-bottom: 4px solid #45ff00;
    color: #ffea00;
}